name: validate-json
on:
  push:
    branches-ignore: ['bot/**']
    paths:
      - 'methodologies/**/v*/META.json'
      - 'methodologies/**/v*/sections.json'
      - 'methodologies/**/v*/rules.json'
      - 'schemas/**'
      - 'tools/**'
      - 'scripts/**'
      - '!methodologies/**/previous/**'
  pull_request:
    branches:
      - 'main'
      - 'feat/**'
    paths:
      - 'methodologies/**/v*/META.json'
      - 'methodologies/**/v*/sections.json'
      - 'methodologies/**/v*/rules.json'
      - 'schemas/**'
      - 'tools/**'
      - 'scripts/**'
      - '!methodologies/**/previous/**'
jobs:
  validate:
    if: |
      !contains(github.event.head_commit.message, '[skip ci]') &&
      !startsWith(github.ref_name, 'bot/') &&
      !(github.event_name == 'pull_request' && startsWith(github.event.pull_request.head.ref, 'bot/'))
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
        with:
          clean: true
          fetch-depth: 0
          lfs: true
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020
        with:
          node-version: '20.11.1'
          cache: 'npm'
      - run: npm ci || npm i
      - run: npm run validate:rich
      - run: npm run validate:lean
      - run: node scripts/validate-offline.js
